*{
    margin: 0;
    padding :0 ;
    box-sizing: border-box;
    background-color: antiquewhite;
  }
  .header-div{
    width: 100%;
    height: 150px ;
    background-color: #030303;
  }
  .mountain-logo{
    height: 100%;
    float: left;
    width: 30%;
    position: relative;
  }
  .mountn-logo-img{
    align-self: center;
    width: 80%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .header-div-second{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center; 
    float: inline-end;
  }
  .search-container {
    margin-left: 30%;
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-form {
    display: inline-flex;
    align-items: center;
    width: 100%;
  } 
  .search-input {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 800px;
    background-color: #e9e2e2;
  }
  .search-btn{
    padding:5px ;
    border-radius: 5px; 
    background-color: antiquewhite;  
  } 
  .search-img{
    width: 50%;
    height: auto; 
  }
  .account-logo-container{
    width: 25%;
    height: 100%;
    margin-left: 10px;
    float:right;
    display: flex;
  }
  .account-container{
    width: 65%;
    height: 70%;
    position: relative;
  }
  .account-title{
    display: flex ;
    margin:60px 2px;
    font-weight: 500;
    margin-left: 5px;
    color: rgb(253, 146, 24);
    transition: color 1s ease ;
  }
  .account-title img {
    width: 20%;   
    margin-left: 3px;
    transform: transition 1s ease ;
  }
  .account-title:hover{
    color: rgb(99, 44, 12);
  }
  .account-title:hover img {
    transform: rotate(180deg);
  }
  .account-container ul {
    list-style: none;
    padding: 10px;
    margin: 0; 
    display: none; 
    position: absolute;
    top: 90%; 
    left: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px; 
}
.account-title:hover+ ul {
    display: block; 
}
.account-container:hover  ul {
    display: block; 
}
.account-container ul li {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap; 
    display: flex;
    align-items: center;
    color: orange;
    font-size: medium;
    font-weight: 400; 
    transition: color 1s ease  border-bottom 1s ease ;    
}
.account-container ul li:hover {
   color: #030303;
}
.cart-conatiner{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-conatiner img {
  width: 40%;
  height: auto;
}
.nav-bar{
  width: 95%;
  height: 50px;
  margin-left: 3%;
  display: flex;
  border: 2px solid rgb(22, 9, 1) ;
  border-radius: 10px;
}
.navbar-list{
  width: 13.5%;
  height: 100%;
  float: inline-start;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.navbar-list a {
  text-decoration: none;
  color: tomato;
  transition: color 2s ease ;
}
.navbar-list a:hover  {
  color: black;
}
.navbar-list h3 {
  font-size: 21px;
  font-weight: 600;
}
.tshirt-list , 
.news-list{
  display: none;
  left: -2%s;
  top: 110%;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 8px 10px rgb(71, 70, 70);
}
.tshirt-list li ,
.news-list li  {
  list-style: none;
  margin: 15px 0 ;
}
.tshirt-list li a ,
.news-list li a {
  font-weight:500;
  font-size: medium;
  transition: border-bottom-width 2s ease color 2s ease ;
}
.tshirts:hover .tshirt-list  , 
.news:hover .news-list{
  display: inline-block; 
}
.tshirt-list li a:hover , 
.news-list li a:hover{
  border-bottom: 2px solid black;
  border-bottom-width: 1;
}
.collections-list ,
 .artists-list{
  display:none;
  top: 110%;
  position: absolute;
  padding: 15px ;
  border-radius: 10px;
  column-count: 3;
  column-gap: 20px;
  box-shadow: 4px 8px 10px rgb(71, 70, 70);
}
.collections-list li ,  
.artists-list li {
  margin: 10px  ; 
}
.collections-list li a , 
.artists-list li a  {
  font-weight:500;
  font-size: medium;
  transition : color 2s ease border-bottom-width 2s ease ;
}
.collections-list li a:hover , 
.artists-list li a:hover
 {
  color: black;
  border-bottom: 2px solid black;
  border-bottom-width: 1;
}
.collections:hover .collections-list  , 
.artists:hover .artists-list {
  display: inline-block;
}
.navbar-socials{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-socials img {
  width: 80%;
  height: auto;
}
.navbar-socials img:hover {
  transform: scale(1.2);
}
.animation-header-one{
  width: 100%;
  height: 130px;
  margin-top: 5px;
  overflow: hidden;
  position:relative ;
  background-color: rgb(18, 113, 190);
  animation: animation-img-slider 20s   infinite  ;
}
.animation-header-one img {
  position: absolute;
  width: 100% ;
  height:100%;
}

.animation-header-two{
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: rgb(70, 180, 79);
  animation: animation-img-slider 20s   linear 10s  infinite  ;
}
.animation-header-one img , 
.animation-header-two img {
  position: absolute;
  width: 100% ;
  height:100%;  
}
.catalogue{
  width: 100%;
  height: 1500px;
  display: grid;
  background-color: antiquewhite;
}
.graphic-tee-container{
  width: 95%;
  height: 400px;
  margin: 20px 2.5%;
  text-align: center;
}
.graphic-tee-tittle{
  width: 50%;
  height: 50px;
  margin-left: 25%;
  text-align: center;
}
.graphic-tee-tittle h2 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 600;
  color: orangered;
}
.graphic-tee-show-container{
  width: 95%;
  height: 300px;
  margin: 10px  2.5% 0 2.5%;
  display: flex;
  align-items: center;
}
.graphic-tee{
  width: 100%;
  height: auto;
  margin: 0px 10px;
  border-radius: 15px;
}
.graphic-tee:hover{
  transform: scale(1.1);
}
.featured-products-container{
  width: 95%;
  height: 1000px;
  margin: 10px 2.5%;
  display: grid;
}
.featured-products-tittle{
  width: 50%;
  height: 50px;
  margin: 20px 25%;
  text-align: center;
}
.featured-products-tittle h2 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 500;
  color: orangered;
}
.featured-product-row{
  width: 100%;
  height: 450px;
  margin: 10px 0;
  display: flex;
}
.featured-product{
  width: 30%;
  height: 96%;
  margin: 10px;
  display: column;
  border: 1px solid black;
  background-color: rgb(255, 176, 30,0.3);
}
.featured-product-image{
  width: 100%;
  height: 60%;
  position: relative;
}
.featured-product-btn  {
  position: absolute;
  bottom: 0px; 
  padding: 10px 20px;
  background-color: rgba(180, 145, 70, 0.2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  left: 70px;
  opacity: 0;
  transition: opacity 2s ease;
}
.featured-product-btn.view {
  margin-bottom: 50px;
}
.featured-product-btn.options {
  margin-top: 45px; 
}
.featured-product-image:hover .featured-product-btn  {
  opacity: 1;
}
.featured-product-info{
  width: 100%;
  height: 40%;
  text-align: center;
  display: grid;
  padding: 30px 0px;
}
.featured-product-info p { 
  font-size: 17px; 
  font-weight: 300;
  margin-top: 20px; 
  color: #181616;
  transition: color 2s ease ;
}
.pp{
  font-size: 17px; 
  font-weight: 500;
  margin-top: 20px;  
  color: orangered;
  transition: color 2s ease ;
}
.featured-product-info p:hover{
  color: orangered;
}
.pp:hover{
  color: #030303;
} 

.footer{
  width: 100%;
  height:580px;
  margin-top: 100px  ;
  background-color: cadetblue;
}
.footer-logo{
  width: 50%;
  height: 50px;
  margin: 10px 25% 10px 25% ;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.footer-container{
  width: 100%;
  height: 400px ;
  display: flex;
  background-color: cadetblue;
}
.footer-div{
  width: 15%;
  height: 70%;
  margin: 20px 2px 0 2px;
  text-align: center;
  line-height: 2;
  padding: 20px 10px;
  background-color: cadetblue;
}

.footer-div h3 {
  margin: 10px 0 ;
  font-weight: 700;
  font-size: large; 
  background-color: cadetblue;
}
.footer-div ul li {
  list-style: none;
  font-weight: 500;
  font-size: medium;
  color: #181616;
  background-color: cadetblue;
  transition: color 0.5s ease   ;
}
.footer-div ul li:hover{
  color: rgb(252, 90, 61);
}
.footer-div:first-child{
  margin-left: 10%;
}
.footer-div-subscribe{
  width: 23%;
  height: 70%;
  margin: 20px 2px 0 2px;
  text-align: center;
  line-height: 1.5;
  background-color: cadetblue;
}
.footer-div-subscribe h3 {
  margin-top: 30px;
  font-weight: 600;
  font-size: x-large;
}
.footer-div-subscribe p {
  color: #f07e20;
  font-weight: 400;
  font-size: medium;
}
.form-footer {
  background-color: cadetblue;
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 35px;
  margin: 5px;
  color: #fff;
  border: none;
  background-color: #f07e20;
  border-radius: 4px;
  cursor: pointer;
  transition: 2s ease ;
}
button:hover {
  background-color: rgb(163, 95, 71);
}
.footer-container h4{
  position: absolute ;
  font-size: medium;
  color: #ccc;
  margin: 27% 0 0 44%;
  color: rgb(179, 174, 167);
  background-color: cadetblue;
}
.footer-socials{
  width: 50%;
  height: 100px;
  margin-left: 25%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid whitesmoke;
  background-color: cadetblue;
}
.footer-socials a {
  background-color: cadetblue;
  margin: 10px  0   0  0 ;
}
.footer-social-img{
  width: 25%;
  height: 10%;
  margin: 30px 0;
  background-color: cadetblue;
  transition: scale 1.5s ease ;
}
.footer-social-img.itti{
  width: 70%;
}
.footer-social-img:hover{
  transform: scale(1.5);
}